* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.row{
	height:15%;
    padding-left: 20%; 
    padding-right: 20%; 
    padding-top: 0%;  
    padding-bottom: 10%; 
}

[class*="col-"] {
    float: left;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

.row:after {
    content: "";
    clear: both;
    display: block;
}

.row{
    height:15%;
    padding-left: 5%; 
    padding-right: 5%; 
    padding-top: 0%;  
    padding-bottom: 10%; 
}    

}

.container {
/*	background-color: lightblue;
*/	margin:5%;
	height:2500px;
}

h1 {
	text-align: center;
	margin:1%;
	padding-top: 5%;
	padding-bottom: 5%;
	font-family: 'Slabo 27px', serif;
}

h3 {
    text-align: center;
    margin:1%;
    padding-top: 5%;
/*    padding-bottom: 5%;
*/    font-size: 50%;
}


.img {
	width:80%;
	margin-left: 10%;
}


.btn {
	float:left;
	margin-right: 1%;
  background: #fafafa;

  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #000000;
  font-size: 13px;
  padding: 5px 10px 5px 10px;
  border: solid #cccccc 0.5px;
  text-decoration: none;
   cursor: pointer;
}

.btn:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #fafafa, #cdcfd1);
  background-image: -moz-linear-gradient(top, #fafafa, #cdcfd1);
  background-image: -ms-linear-gradient(top, #fafafa, #cdcfd1);
  background-image: -o-linear-gradient(top, #fafafa, #cdcfd1);
  background-image: linear-gradient(to bottom, #fafafa, #cdcfd1);
  text-decoration: none;
}

.selected{
    background: lightgrey;
    color: #fff;
}
/*select{
    background: #fff;
    color: #E3314C;
    border: 1px solid #E3314C;
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    outline: none;
    margin-right: 10px;
    font-size: 12px;
}*/

.chart_text {
	padding-top: 20px;
}

p{
	font-family: 'Abel', sans-serif;
	font-size: 15px;
}

h2 {
	margin:1%;
    padding:0;
}

h4 {
    font-family: "Slabo 27px", serif;
}

/*chart1.js*/


    #chart1 {
        width: 100%;
        height: 160%;
    }

    #chart1_intro {
        background-color: lightyellow;
        width:30%;
        margin-left:5%;
        float:left;
    }

    .axis text{
        font-family: 'Abel', sans-serif;
        fill: #444;
        font-size: 25px;
    }
    .y.axis path{
        fill: none;
        stroke: none;
        shape-rendering: crispEdges;
    }
    .axis line {
        fill: none;
        stroke: none;
        shape-rendering: crispEdges;
    }
    
    .chart .x.axis path{
        fill: none;
        stroke: none;
    }
    .bars:hover{
        fill: #E3314C;
    }
    .value{
        font-size: 12px;
        color: #444;
    }
    path.line{
        fill: none;
        stroke-width: 4px;
        transition: 0.1s;
    }
/*        g.urban path.line{
        stroke: #418FC6;
    }
    g.rural path.line{
        stroke: #E3314C;
    }
    g.total path.line{
        stroke: black;
    }*/
    g.urban circle{
        fill: #418FC6;
        transition: 0.1s;
    }
    g.rural circle{
        fill: #E3314C;
        transition: 0.1s;
    }
    g.line{
        opacity: 0.8;
    }
    g.line.unfocused{
        opacity: 0.5;
    }
    g.line.focused{
        opacity: 1;
        cursor: pointer;
    }
    g.line.unfocused path.line{
        stroke-width: 1px;
    }
    g.line.focused path.line{
        stroke-width: 3px;
        cursor: pointer;
    }
    g.line text.label{
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: lighter;
        cursor: pointer;
    }
    g.line.bmw text{
        fill: #418FC6;
    }
    g.line.audi text{
        fill: #E3314C;
    }
    g.line text.notDisp{
        display: none;
    }
    text.dotVal{
        font-family: 'Abel', sans-serif;
        font-size: 25px;
    }
    .lineChart text{
        text-anchor: end;
        fill: black;
        font-family: 'Abel', sans-serif;
        font-size: 25px;
        font-weight: bold;        
    }

    .lineChart .y .tick line{
        stroke-dasharray: 2,5;
        /*stroke: #999;*/
    }
    .lineChart .x.axis path{
        fill: none;
        stroke: black;
    }

/*table*/
    table {
        cursor: pointer;
        width: 100%;}
    th, td {
        padding: 2px 0px 2px 10px;
        border-spacing: 0px;
        margin:0px;
        font-family: 'Abel', sans-serif;
        font-size: 13px;}
    th {
        text-transform: uppercase;
        border-bottom: 2px solid #111111;
        border-top: 1px solid #999;
        text-align: left;}
/*    tr.even {
        background-color: #efefef;}*/
    tr:hover {
        background-color: #c3e6e5;}

/*chart 2*/
    #chart2 {
        margin-top: 2%;
    }

    .ins {
        cursor: pointer;
    }

    .ps {
        margin-top: 0;
        font-size: 13px;
        text-align: right;
    }
/*chart 3*/

    #chart3 {
        width: 100%;
        height:50%;
        margin-top: 10%;
        }

     g .axisbar line,
     g .axisbar_left line{
        fill: none;
        stroke: #999;
        stroke-width: 0.5px;
        shape-rendering: crispEdges;
    }

    .axisbar text,
    .axisbar_left text {
        font-family: 'Abel', sans-serif;
        font-size: 15px;
    }


/*chart 4*/

    h2 {
        font-family: 'Slabo 27px', serif;
        font-size: 20px;
    }

    #chart4 {
        height:10%;
        margin-top: 5%;
        }
    div.urban {
        color: #005f91;
        display: inline;
    }
    div.rural {
        color: #ea6948;
        display: inline;
    }

    circle {
        stroke-width: 1;
    }

    circle.urban {
        fill: #005f91;
    }

    circle.rural {
        fill: #ea6948;
    }

    circle:hover {
        opacity:0.8;
        cursor: pointer;
    }

    line.grid {
        stroke: lightgrey;
    }

    line.between {
        stroke: black;
    }

    .axisDots path,
    .axisDots line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }

    .axisDots text {
        font-family: 'Abel', sans-serif;
        font-size: 14px;
    }

    .xlabel {
        font-family: 'Abel', sans-serif;
        font-size: 14px;
        color: gray;
    }